hostname,device_ip,current_version,target_version,model,target_version_satisfied,target_image_presence,md5_checksum_success {% for host, data in hostvars.items() if 'target_version' in data %} {{ host }},{{ data.ansible_host }},{{ data.current_version }},{{ data.target_version }},{{ data.current_model }},{{ data.target_version_satisfied }},{{ data.target_image_presence }},{{ data.md5_checksum_success }} {% endfor %}
